<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body class="app">
    <H1>Welcome to PetFax</H1>
    <a href="/pets">Home Page</a>
    {% for pet in pets %}
        <H2>{{ pet.pet_name }}</H2>
        <img src="{{pet.pet_photo}}"/>
        <a href="/pets/{{pet.pet_id}}">see more </a>
    {% endfor %}
    <div> Want to submit your own pet facts? <a href="/facts/new"> Click here</a></div>
</body>
</html>